@{
    ViewData["Title"] = "Home";
}

@model bandsintown_app.Models.ArtistAndEvents

    <div class="container-fluid">
        <div class="row">
            @* Selected Artist div *@

            <a href="javascript:history.back()" class="btn btn-primary">Back to results</a>

            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="row">

                        <div class="card" style="margin:1.25em;">
                            <img src="@Model.artistData.image_url" class="card-img-top" name="@Model.artistData.name" alt="...">
                            <div class="card-body">
                                <a href="#" style="color:black;">@Model.artistData.name</a>
                                <a name="@Model.artistData.name" href="@Model.artistData.facebook_page_url">@Model.artistData.facebook_page_url</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        @if (Model.listEventsData != null && Model.listEventsData.Count > 0)
        {
            <div class="row">
                @* Result text div *@
                <div class="col-md-12">
                    <h4 name="eventsCountText" style="margin: 1em 0em 1em 0em;">
                        @Model.listEventsData.Count upcoming events
                    </h4>

                </div>
            </div>
            <div class="row">
                @* Cards div *@

                @foreach (EventData item in Model.listEventsData)
                {
                    <div class="col-md-4" style="margin-bottom:1.5em;">
                        <div class="card">
                            <h5 class="card-header">
                                EVENT DETAILS
                            </h5>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p><strong>Country</strong></p>
                                        <p>
                                            @item.venue.country
                                        </p>

                                        <p><strong>City</strong></p>
                                        <p>
                                            @item.venue.city
                                        </p>

                                    </div>
                                    <div class="col">
                                        <p><strong>Venue</strong></p>
                                        <p>@item.venue.location</p>
                                        <p>

                                        </p>
                                        <p><strong>Date</strong></p>
                                        <p>
                                            @DateTime.Parse(item.datetime).Date
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        }
        else
        {
            <div class="row">
                @* Result text div *@
                <div class="col-md-12">
                    <h4 name="eventsCountText" style="margin: 1em 0em 1em 0em;">
                        No upcoming events
                    </h4>

                </div>
            </div>
        }


    </div>